*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #efeff6;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
